<a href="https://colab.research.google.com/github/Loriita/MMDT_2025_PY101/blob/htetooko/htetooko/Ex2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
print(len("My name is python"))

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [3]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
print(s.lower().count("python"))

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [4]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
ls3 = ls1 + ls2
print(len(ls3))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [5]:
my_dict = {"Myo" : 32, "Thida" : 64}
print(my_dict)

{'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [6]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
set3 = set1.union(set2)
print(set3)
print(len(set3))

{'status', 'age', 'Name', 'Height', 'Education'}
5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [11]:
string = input("Enter a string: ")
new_string = string[0] + "*" + string[2:] + "!!!"
print(new_string)

Enter a string: hello
h*llo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [12]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
print(s.lower().replace(".", "").replace(",", "").replace("-", ""))

floatingpoint values in python are always done in double precision; hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [16]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
missing_num = sum(L1) - sum(L2)
print(missing_num)

62

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [18]:
ls1 = ["apple","banana","cherry"]
new_ls = ls1.copy()
new_ls = new_ls + ["blueberry"]
print(new_ls)
print(ls1)

['apple', 'banana', 'cherry', 'blueberry']
['apple', 'banana', 'cherry']