<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [3]:
my_string = "My name is python"
print("The String length is: " + str(len(my_string)))

The String length is: 17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [7]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
lower_string = s.lower()
print("The number of times 'python' appears in the paragraph: " + str(lower_string.count("python")))

The number of times 'python' appears in the paragraph: 2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [12]:
ls1 = ["apple","banana","cherry"]
ls2 = ["apple","banana","cherry","apple","cherry"]

ls12 = ls1 + ls2 
print("The Combination of two list is: " + str(ls12))
print("The number of elements in new list : " + str(len(ls12)))

The Combination of two list is: ['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']
The number of elements in new list : 8

Ex 4: Create a dictionary for the following table:

| Name | Age | 
| --- | --- | 
| Myo | 32 |
| Thida | 64 |

In [16]:
my_info = {"Name":["Myo","Thida"],"Age":[32,64]}
print(my_info)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length. 
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [19]:
set1 = {"Name","age","Height"}
set2 = {"Name","status","Education"}

set12 = set1.union(set2)
print(set12)
print(len(set12))

{'status', 'age', 'Name', 'Height', 'Education'}
5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [ ]:
new_string = input("Enter a string")
print(new_string.replace(new_string[1],"*") + "!!!")

s*fefewf !!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [2]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s_lower = s.lower()

s_clean1 = s_lower.replace(";"," ")
s_clean2 = s_clean1.replace(","," ")
result_string = s_clean2.split()
result_string = ' '.join(result_string)
print(result_string.strip("."))

floating-point values in python are always done in double precision hence python float types correspond to doubles in a c-like language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [ ]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

L3 = list(set(L1) - set(L2))
print("The missing number in L2: " + str(L3))

The missing number in L2: [70]

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [5]:
ls1 = ["apple","banana","cherry"]
ls2 = ls1.copy()

ls2.append("blueberry")
print("The original list :" + str(ls1))
print("The new list :" + str(ls2))

The original list :['apple', 'banana', 'cherry']
The new list :['apple', 'banana', 'cherry', 'blueberry']