<a href="https://colab.research.google.com/github/suhturhlaing/MMDT_2025_PY101/blob/suhturhlaing/Ex2_datatypes_suhtarhlaing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [9]:
my_str = "My name is python"
string_length = len(my_str)
print("the lenght of the string is", string_length)

the lenght of the string is 17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [17]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

#to get the lowercase to find lowecase of python
my_string = s.lower()
print("Given Paragraph : ",my_string)

#to get the count of "Python"
number_of_count = my_string.count("python")
print("the number of times python are : ", number_of_count)

Given Paragraph :  floating-point values in python are always done in double precision; hence, python float types correspond to doubles in a c-like language.
the number of times python are :  2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [5]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]

#to combile list 1 and list2
new_list = ls1 + ls2
print(new_list)

#to get the number of list
number_of_list = len(new_list)
print('the number of elements in new list : ',number_of_list)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']
the number of elements in new list :  8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [20]:
my_dict = [{ "Name": "Myo", "Age" : 32}, {"Name" : "Thida", "Age" : 64}]
print("The dictionary are : ", my_dict)

The dictionary are :  [{'Name': 'Myo', 'Age': 32}, {'Name': 'Thida', 'Age': 64}]

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [27]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
#to get combine set
new_set = set1.union(set2)
print("The combine Set :", new_set)

#to get the length of new set
new_set_len = len(new_set)
print("new set length :" ,new_set_len)

The combine Set : {'age', 'status', 'Education', 'Name', 'Height'}
new set length : 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [32]:
#for this question I used AI because I can't understand the question very well , so I took some of the reference
user_input = input("Enter a string:")

#start of condition
if(len(user_input) >= 2 ):
  new_string = user_input[0] + '*' +user_input[2:]
else:
  new_string = user_input

#to add three exclamation points
new_string1 = new_string + "!!!"

print("new_string : " , new_string1)

Enter a string:welcome
new_string :  w*lcome!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [43]:
import string
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

#to get lowercase
s_lower = s.lower()
print(s_lower)


#to remove Punctuation
punctuation_remove = string.punctuation
#print(s_remove)
resulting_string = ''.join(char for char in s_lower if char not in punctuation_remove)  #I didn't know why this sentence must use?
print(resulting_string)

#Remark : I didn't know to import string and also , I didn't know how to remove punctuation , for that I use AI to get some of the advice

floating-point values in python are always done in double precision; hence, python float types correspond to doubles in a c-like language.
floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [49]:
from random import randint
L1 = list(range(1,101))
print(L1)
L2 = L1.copy()
print(L2)
L2.remove(randint(1,101))
missing_number = list(set(L1) - set(L2))
print("missing_number:" , missing_number)


#I used AI to know the missing number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
missing_number: [77]

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [56]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_list.append("blueberry")
print("original_list : " , ls1)
print("update_list : ", new_list)

original_list :  ['apple', 'banana', 'cherry']
update_list :  ['apple', 'banana', 'cherry', 'blueberry']