<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
text = "My name is Python"
length = len(text)
print(length)

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [7]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
count = s.lower().count("python")
print("The word 'python' appears {} times.".format(count))

The word 'python' appears 2 times.

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [11]:
ls1 = ["apple", "banana", "cherry"] 
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
ls3 = ls2 + ls1
print(len(ls3))

8

Ex 4: Create a dictionary for the following table:

| Name | Age | 
| --- | --- | 
| Myo | 32 |
| Thida | 64 |

In [12]:
my_dict = {"Myo": 32, "Thida": 64}
print(my_dict)

{'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length. 
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [16]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
new_set = set1.union(set2)
print(new_set)
print("The number of elements in new set is ", len(new_set))

{'age', 'Height', 'Name', 'Education', 'status'}
The number of elements in new set is  5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [17]:
user_string = input("Enter a string: ")

if len(user_string) >= 2:
    new_string = user_string[0] + '*' + user_string[2:]
else:
    new_string = user_string

new_string += "!!!"
print(new_string)

h*llo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [18]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
new_string = s.lower().replace(",", "").replace(";", "").replace(".", "").replace("-", "").replace(":", "")
print(new_string)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [22]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
missing_number = set(L1).difference(set(L2))
print("Missing number:", missing_number)

Missing number: {93}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [20]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_list.append("blueberry")
print("Original list:", ls1)
print("New list:", new_list)

Original list: ['apple', 'banana', 'cherry']
New list: ['apple', 'banana', 'cherry', 'blueberry']