<a href="https://colab.research.google.com/github/drwaiyanbo/MMDT_2025_PY101/blob/Wai-Yan-Bo/Waiyanbo/Ex2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [34]:
# check the length of the string
Str = "My name is python"
print(len(Str))

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [33]:

# check the number of times "python" in string
Str = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

par = Str.lower().count("python")
print("The number of word ""Python"" in paragraph is {}".format(par))

The number of word Python in paragraph is 2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [32]:
# creating the list first
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_ls = ls1+ls2
print("The number of elements in combinations of two lists is", len(new_ls))

The number of elements in combinations of two lists is 8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [ ]:
# creating dictionary
my_dict = {'Name': ["Myo", "Thida"], 'Age': [32, 64]}
print(my_dict)

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [31]:

# creating sets first
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
new_set = set1.union(set2)
print(new_set, "The number of elements in new set is {}".format(len(new_set)))

{'Height', 'age', 'Name', 'Education', 'status'} The number of elements in new set is 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [36]:
# ask user to enter a string
user_string = input("Enter a string: ")
new_string = user_string[0] + "*" + user_string[2:] + "!!!"
print(new_string)

Enter a string: This is test string
T*is is test string!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [40]:
# convert the given string 's' to lower case
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s = s.lower().replace("-","").replace(".","").replace(",","").replace(";","").replace(":","")
print(s)
# remove all punctuation marks

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [42]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
print(set(L1).difference(set(L2)))

{51}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [41]:
ls1 = ["apple", "banana", "cherry"]
ls2 =  ls1.copy()
ls2.append("blueberry")
print('original:', ls1)
print('new list:', ls2)

original: ['apple', 'banana', 'cherry']
new list: ['apple', 'banana', 'cherry', 'blueberry']