In [2]:
import sys
sys.version

'3.11.12 (main, Apr  9 2025, 08:55:54) [GCC 11.4.0]'

In [5]:
usd_amount = input ("Enter the amount in USD:")
bp_amount = int (usd_amount) * 0.82
print ("{} usd is equivalent to {} british pound". format (usd_amount,bp_amount))

Enter the amount in USD:2000
2000 usd is equivalent to 1640.0 british pound

In [4]:
temp_F = input (" Enter the temperature in Feranhite:")
temp_C = (int ( temp_F) - 32) *5/9
print ("{} Temperature in Feranhite is equivalent to {} Temperature in Celsius." . format (temp_F, temp_C))

 Enter the temperature in Feranhite:212
212 Temperature in Feranhite is equivalent to 100.0 Temperature in Celsius.

In [5]:
apple_qty = input ( " Enter number of apples:")
apple_price = input ("Price per apple:")
orange_qty = input ( "Enter number of oranges:")
orange_price = input ( " Price per Orange:")
mango_qty = input ( " Enter number of mangoes:")
mango_price = input ( "Price per mango:")
total_cost = int (apple_qty) * int (apple_price) + int (orange_qty) * int (orange_price) +int (mango_qty) * int (mango_price)
print (" Total cost is:", total_cost)

 Enter number of apples:5
Price per apple:2
Enter number of oranges:10
 Price per Orange:1
 Enter number of mangoes:3
Price per mango:3
 Total cost is: 29

In [6]:
name = input (" Enter your name:")
print ( " Hello " + name )

 Enter your name:Clary
 Hello Clary

In [20]:
from random import randint
x = randint (1,50)
print ( 'A random number between 1 and 50', x)
y = randint (2,5)
print ( ' A random number between 2 and 5', y)
z = x**y
print (" The result is", z)

A random number between 1 and 50 17
 A random number between 2 and 5 4
 The result is 83521

In [38]:
name = input (" Enter your name:")
from random import randint
x = randint (1,10)
print (' A random number between 1 and 10', x)
Greeting = int (x) * ( "Hello " + name,  )
print ( Greeting)

 Enter your name:Clary
 A random number between 1 and 10 8
('Hello Clary', 'Hello Clary', 'Hello Clary', 'Hello Clary', 'Hello Clary', 'Hello Clary', 'Hello Clary', 'Hello Clary')

In [61]:
x = input (" Enter value of x:")
y = input ( " Enter value of y:")
a = abs (int (x) - int (y))
b = int (x) + int (y)
z = int (a)/ int (b)
print (" The result is", z)

 Enter value of x:2
 Enter value of y:4
 The result is 0.3333333333333333

In [74]:
from pickle import REDUCE
total_seconds = input (" Enter the number of seconds:")
minutes = int (int (total_seconds) /60 )
seconds = int ( total_seconds) - (int (minutes) * 60)
print (minutes)
print (seconds)
print ("{} seconds is equivalent to {} minutes and {} seconds." . format (total_seconds,minutes, seconds))

 Enter the number of seconds:130
2
10
130 seconds is equivalent to 2 minutes and 10 seconds.

In [96]:
import math
num = float ( input ( "Enter a number:"))
sine_value = math.sin (num)
print (sine_value)
cosine_value = math.cos(num)
print (cosine_value)
tangent_value = math.tan(num)
print (tangent_value)

Enter a number:90
0.8939966636005579
-0.4480736161291701
-1.995200412208242