Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
name = "My name is python"
print(len(name))

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s = s.lower()
print(s.count("python"))

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [ ]:
ls1=["apple","banana","cherry"]
ls2 = ["apple","banana","cherry","apple","cherry"]
ls3 = ls1+ls2
print(len(ls3))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [ ]:
dict = {"Name":["Myo","Thida"],"Age":[32,64]}
print(dict)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [ ]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combine = set1.union(set2)
print(combine)
print(len(combine))

{'status', 'Name', 'age', 'Height', 'Education'}
5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [2]:
value = input("Enter a string: ")
new_string = value.replace(value[1],"*")
new_string = new_string+"!!!"

print(new_string)

Enter a string: aungyekyaw
a*ngyekyaw!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s=s.lower()
s = s.replace("-"," ")
s = s.replace(";","")
s=s.replace (",","")

print(s)

floating point values in python are always done in double precision hence python float types correspond to doubles in a c like language.

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [7]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,100))

new_L1 = set(L1)
new_l2 = set(L2)
remove_value = new_L1.difference(new_l2)

print (remove_value)

{58}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [ ]:
ls1 =["apple","banana","cherry"]
ls2 = ls1.copy()
ls2.append("blueberry")
print(ls1)
print(ls2)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'blueberry']