<a href="https://colab.research.google.com/github/YaminThu9/MMDT_2025_PY101/blob/YaminThu/Ex2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [10]:
len("My name is python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
count= s.lower().count("python")
print(" the number of python is {}time".format(count))

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [1]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list = ls1+ls2
print(len(new_list))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [4]:
my_dict = {"Name":{"Myo","Thida"},"Age":{32,64}}
print(my_dict)

{'Name': {'Myo', 'Thida'}, 'Age': {32, 64}}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [5]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
new_set = set1.union(set2)
print(len(new_set))

5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [8]:
user_string = input("Enter a string")
new_string = user_string.replace(user_string[1],"*")
print(new_string+"!!!")

Enter a stringI'm Python
I*m Python!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [17]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
new_string = s.lower().replace("-"," ").replace(","," ").replace(";"," ")
print(new_string)

floating point values in python are always done in double precision  hence  python float types correspond to doubles in a c like language.

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [23]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [29]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_list.append("blueberry")
print("The New List: {} ".format(new_list))
print("The Original List: {} ".format(ls1))

The New List: ['apple', 'banana', 'cherry', 'blueberry']
The Original List: ['apple', 'banana', 'cherry']