<a href="https://colab.research.google.com/github/NathanOlsen2KT/MMDT_2025_PY101/blob/Kaung-Khant-Thu/kaung-khant-thu/Ex2_datatypes_KaungKhantThu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [2]:
len ("My name is python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [5]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
lower_case = s.lower ()
lower_case.count ("python")

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [11]:
is1 = ["apple","banana","cherry"]
is2 = ["apple","banana","cherry","apple","cherry"]
is3 = is1 + is2
len (is3)

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [19]:
dict = {"Name":"Myo","Age":32,"Name":"Thida","Age":64}
dict.keys()

dict_keys(['Name', 'Age'])

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [27]:
set1 = {"Name","age","Height"}
set2 = {"Name","status","Education"}
set3 = set1.union(set2)
print (set3)
len(set3)

{'age', 'Education', 'Height', 'status', 'Name'}

5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [34]:
str1 = input ("Enter a string: ")
new_string = str(str1)
new_string [1] = "*"
length = len(new_string)
new_string [length-1] = "!!!"
print (new_string)

Enter a string: my name is kaung

TypeError: 'str' object is not callable

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [36]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s.lower ()

'floating-point values in python are always done in double precision; hence, python float types correspond to doubles in a c-like language.'

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [45]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [43]:
is1 = ["apple","banana","cherry"]
is2 = is1.copy()
is3 = ["blueberry"]
is4 = is2 + is3
print ("new list:",is4)
print ("original list: ",is1)

new list: ['apple', 'banana', 'cherry', 'blueberry']
original list:  ['apple', 'banana', 'cherry']