<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [7]:
given_string = "My name is python"
print(f"The length of the given string - '{given_string}' is " + str(len(given_string)))

The length of the given string - 'My name is python' is 17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [15]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
modify_s = s.lower()
num_of_python = modify_s.count("python")
print(f"The number of times 'python' appears in the given paragraph is: {num_of_python}")

The number of times 'python' appears in the given paragraph is: 2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [13]:
ls1 = ["apple", "banana", "cherry"] 
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]

combine_lst = ls1 + ls2
num_of_element_in_newlist = len(combine_lst)

print(f"The number of elements in new list is: {num_of_element_in_newlist}")

The number of elements in new list is: 8

Ex 4: Create a dictionary for the following table:

| Name | Age | 
| --- | --- | 
| Myo | 32 |
| Thida | 64 |

In [17]:
my_dictionary = {"Name": ['Myo','Thida'],"Age" : [32,64]}
print(my_dictionary)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length. 
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [25]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

combine_set = set1 | set2
print("The combined set: " + str(combine_set))
print("Length of the combined set: " + str(len(combine_set)))

The combined set: {'Height', 'Name', 'Education', 'status', 'age'}
Length of the combined set: 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [29]:
user_string = input("add string:" )
sec_char = user_string[1]
new_string = user_string.replace(sec_char,"*") + "!!!"
print(new_string)

add string: hello

h*llo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [33]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s = s.lower()
s = s.replace('.', '')
s = s.replace('-', '')
s = s.replace(',', '')
print(s)

floatingpoint values in python are always done in double precision; hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [43]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

set1 = set(L1)
set2 = set(L2)
missing_num = set1 - set2

print(f"L1: {L1}")
print(f"L2: {L2}")
print(f"Missing number: {missing_num}")

L1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
L2: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]
Missing number: {97}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [41]:
ls1 = ["apple", "banana", "cherry"]
new_lst = ls1.copy()
new_lst.append("blueberry")

print(f"Original List: {ls1}")
print(f"New List: {new_lst}")

Original List: ['apple', 'banana', 'cherry']
New List: ['apple', 'banana', 'cherry', 'blueberry']