<a href="https://colab.research.google.com/github/Winlai16/MMDT_2025_PY101/blob/winlaiphyu/Ex2_datatypes_winlaiphyu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
len("My name is python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [2]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s.count("Python")

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [6]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
com_ls = ls1 + ls2
print(com_ls)
len(com_ls)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [4]:
dic = {
    "Name":["Myo","Thida"],
    "Age":[32,64]
}
print(dic)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [6]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
new_set = set1.union(set2)
print(new_set)
len(new_set)

{'Height', 'status', 'Education', 'Name', 'age'}

5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [11]:
##I checked my error to check using AI reference
user_string = list("Enter a string")
user_string[1] = '*'
comb = ["!", "!", "!"]
new_string = user_string + comb

new_string = "".join(new_string)

print(new_string)

E*ter a string!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [12]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s = s.lower()

for p in [".", "-", ","]:
    s = s.replace(p, "")

print(s)

floatingpoint values in python are always done in double precision; hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [14]:
from random import randint

L1 = list(range(1, 101))
L2 = L1.copy()

L2.remove(randint(1, 100))
##for finding missing number i used AI
missing_number = sum(L1) - sum(L2)

print("The missing number is:", missing_number)

The missing number is: 2

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [17]:
 ls1 = ["apple", "banana", "cherry"]
 new = ["blueberry"]
 ls2 = ls1.copy()
 ls2.extend(new)
 print ("original_list:", ls1)
 print ("new_list:" , ls2)

original_list: ['apple', 'banana', 'cherry']
new_list: ['apple', 'banana', 'cherry', 'blueberry']