<a href="https://colab.research.google.com/github/SharonWai/MMDT_2025_PY101/blob/SharonWai1/Ex2_datatypes_SharonWai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
len("My name is python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [4]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
count = s.lower().count("python")
print(count)

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [9]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana","cherry","apple","cherry"]
combined_list=ls1+ls2
print(combined_list)
print(len(combined_list))

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']
8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [11]:
Dict = {"Myo": 32,"Thida": 64}
print(Dict)

{'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [13]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set = set1.union(set2)
print(combined_set)
print(len(combined_set))

{'age', 'Height', 'Education', 'status', 'Name'}
5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

#Ask the user to enter a new string.

In [ ]:
user_string = input("Enter a string:")
new_string = user_string[:1] + "*" + user_string[:2] + "!!!"
print(new_string)

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
new_string = s.lower()
new_string = new_string.replace (".",",","", string.punctuation)
print(new_string)

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [ ]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
missing_number = set(L1) - set (L2)
missing_number = list(set(L1)-set(L2))[0]
print(missing_number)

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [ ]:
ls1 = ["apple", "banana","cherry"]
new_list= ls1.copy()
new_list.append("blueberry")
print("New List:", new_list)
print("Original List:", ls1)