Using the below cell, Import the required library and check the version of the python in your environment.

Ex 1 : Check the lenght of the string "My name is python"

In [4]:
string = "My name is python"
lenght_of_the_string = len(string)
print(lenght_of_the_string)

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [22]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
count = s.lower().count("python".lower())
print(f"'{"python"}' appears {count} times.")

'python' appears 2 times.

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [23]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list = ls1 + ls2
count = len(new_list)
print(count)

8

Ex 4: Create a dictionary for the following table:

Name     Age
Myo      32
Thida    64

In [24]:
bio_dict = {"Myo":32, "Thida":64}
print(bio_dict)

{'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length. set1 = {"Name", "age", "Height"} set2 = {"Name", "status", "Education"}

In [30]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combine_set = set1.union(set2)
print("Combine Set:", combine_set)
print("Length:", len(combine_set))

Combine Set: {'status', 'age', 'Education', 'Name', 'Height'}
Length: 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [3]:
user_string = input("Enter the string: ")
if len(user_string) >=2:
    new_string = user_string[0] + '*' + user_string[2:] + "!!!"
else:
    new_string = user_string + "!!!"

print("New_string: ", new_string)

New_string:  H*llo World!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [1]:
import string
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
lowercase_string = s.lower()
punctuation_string = string.punctuation
clean_string = ''.join(char for char in lowercase_string if char not in punctuation_string)
print(clean_string)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [ ]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
#Remove one random number from L2 (randint with proper range: 1â€“100)
removed_num = randint(1,100)
L2.remove(removed_num)
print("Missing number is ", set(L1) - (set(L2)).pop())

Missing number is  66

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [10]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ls1[:]
ls2.append("blueberry")

print("Original list:", ls1)
print("New List:", ls2)

Original list: ['apple', 'banana', 'cherry']
New List: ['apple', 'banana', 'cherry', 'blueberry']