<a href="https://colab.research.google.com/github/Maymee614/MMDT_2025_PY101/blob/main/maymee/Ex2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [2]:
my_name="python"
len(my_name)

6

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [55]:
my_str = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
my_str.count("Python")

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [19]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
combined = ls1 + ls2
print(len(combined))

8

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

Ex 4: Create a dictionary for the following table:

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [56]:
my_set1 = {"Name", "age", "Height"}
my_set2 = {"Name", "status", "Education"}
combined_set = my_set1.add("my_set2")

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [88]:
user_string = "Mayme"
len(user_string)

new_string = user_string[0] + '*' + user_string[2:]
new_string += '!!!'

print("Modified string:", new_string)

Modified string: M*yme!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [102]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s = s.lower()
for char in ['.', '-', ',']:
  s = s.replace(char, '')
  print(s)

floating-point values in python are always done in double precision; hence, python float types correspond to doubles in a c-like language
floatingpoint values in python are always done in double precision; hence, python float types correspond to doubles in a clike language
floatingpoint values in python are always done in double precision; hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [105]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [109]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_list.append("blueberry")
print("New list:", new_list)

New list: ['apple', 'banana', 'cherry', 'blueberry']