<a href="https://colab.research.google.com/github/khinthanhtay95/MMDT_2025_PY101/blob/KhinThanHtay/khin-than-htay/Ex2_datatypes_KhinThanHtay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
str_name = "My name is python"
print(len(str_name))

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [13]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
lower_case = s.lower()
print(lower_case.count("python"))

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [21]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list = ls1 + ls2
print(new_list)
print(len(new_list))

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']
8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [13]:
name_data = {"Name" : ["Myo","Thida" ], "Age" : [32, 64]}
print(name_data)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [21]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
final_set = set1.union(set2)
print(final_set)
print("length of final set :  {}".format(len(final_set)))

{'status', 'Name', 'Education', 'Height', 'age'}
length of final set :  5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [26]:
original_string = input("Enter a string: ")
new_string = original_string.replace(original_string[1],"*")
print(new_string + "!!!")

Enter a string: Khin
K*in!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [42]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
result_string = s.lower()
final_string = result_string.replace(",","")
final_string = final_string.replace(";","")
final_string = final_string.replace("-","")
print(final_string)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language.

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [50]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
print(set(L1).difference(set(L2)))

{55}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [53]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_list.append("blueberry")
print(ls1)
print(new_list)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'blueberry']