<a href="https://colab.research.google.com/github/Zhampar/MMDT_2025_PY101/blob/mijompar/Ex2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [2]:
s = "My name is python"

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [3]:
# Ex 2: Count "python" (case-insensitive) in the paragraph
s2 = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
print("Count of 'python':", s2.lower().count("python"))  # Output: 2

Count of 'python': 2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [4]:
# Ex 3: Combine two lists and print number of elements
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
combined_list = ls1 + ls2
print("Combined List:", combined_list)
print("Number of elements:", len(combined_list))  # Output: 8

Combined List: ['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']
Number of elements: 8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [5]:
# Ex 4: Create a dictionary
people = {"Myo": 32, "Thida": 64}
print("Dictionary:", people)

Dictionary: {'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [2]:
# Ex 5: Combine two sets and print the combined set and its length
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set = set1.union(set2)
print("Combined Set:", combined_set)
print("Length of combined set:", len(combined_set))  # Output: 6

Combined Set: {'age', 'Height', 'Name', 'Education', 'status'}
Length of combined set: 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [ ]:
# Ex 6: String Processing

# Ask for user input
user_string = input("Enter a string: ")

# Check if the string has at least two characters
if len(user_string) >= 2:
    # Replace second character with '*', keep the rest, and add '!!!'
    new_string = user_string[0] + '*' + user_string[2:] + '!!!'
else:
    # If less than 2 characters, just append '!!!'
    new_string = user_string + '!!!'

# Output the result
print("New string:", new_string)

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [ ]:
# Ex 7: Convert to lowercase and remove punctuation
import string
s3 = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s3_cleaned = s3.lower()
for ch in "-.,;":
    s3_cleaned = s3_cleaned.replace(ch, "")
print("Cleaned String:", s3_cleaned)

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [ ]:
# Ex 8: Find missing number in L2
from random import randint
L1 = list(range(1, 101))
L2 = L1.copy()
L2.remove(randint(1, 100))  # Simulate missing number
missing = set(L1) - set(L2)
print("Missing number:", missing.pop())

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [ ]:
# Ex 9: Copy list and modify the copy
ls1 = ["apple", "banana", "cherry"]
new_ls = ls1.copy()
new_ls.append("blueberry")
print("Original List:", ls1)
print("New List:", new_ls)